@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
body{
	background: url('../img/fon.jpg')  no-repeat;
  min-height: 100%;
  background-attachment:fixed;
  background-position:center;
  background-size: cover;
}
th{text-align: center;}
html{
  min-height: 100%;
  content-width: 100%;
}
table{
  background-color: #FFFFF0;
}
.mark{
  font-size: 2vmax;
}
td{vertical-align: middle;}
.input-group{width:100%;height:100%;}
thead{
  width:100%;
}
.col-xs-1 .glyphicon-plus{top:-3px;}
.id_t{display:none;}
@media (max-width: 767px) {
  /*xs*/
  .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .hide{
    display: block !important;
    visibility: visible !important;
    color: #d1e0e0;
  }
  .mark{
    font-size: 3vmax;
  }
}
.task{word-break: break-all;}
@media (min-width: 768px) and (max-width: 991px) {
  /*sm*/
  .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /*md*/
  .btn {
    padding: 3px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
  }
}
@media (min-width: 1200px) {
  /*lg*/
  .btn {
    padding: 5px 10px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;

  }
}
.logo{
	color: rgba(0, 0, 0, 0.6);
  text-shadow: rgba(0, 0, 0, 0.2) 2px 8px 6px, rgba(255, 255, 255, 0.3) 0px -5px 35px, rgb(227, 229, 127) 0px -1px 0px, rgb(227, 229, 127) 0px -1px 0px, rgb(227, 229, 127) 0px 1px 0px, rgb(227, 229, 127) 0px 1px 0px, rgb(227, 229, 127) -1px 0px 0px, rgb(227, 229, 127) 1px 0px 0px, rgb(227, 229, 127) -1px 0px 0px, rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) -1px -1px 0px, rgb(250, 255, 0) 1px -1px 0px, rgb(255, 255, 255) -1px -1px 0px, rgb(250, 255, 0) 1px 1px 0px, rgb(255, 255, 255) -1px -1px 0px, rgb(250, 255, 0) 1px -1px 0px, rgb(250, 255, 0) -1px 1px 0px, rgb(250, 255, 0) 1px 1px 0px;
  font-weight: bolder;
  font-size: 7vmin;
  -moz-user-select: none;
  position: relative;
  cursor:default;
  user-select: none;

}
.table>thead>tr>th {
  vertical-align: middle !important;}
  .table_count{

   display: table;
 }
 .text-c{position: relative;}
 .hide{
  display: block !important;
  visibility: hidden;
  color: #d1e0e0;
}
td.col-xs-1
{

  text-align:center; 
  vertical-align:middle;
}
input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;} 
input:-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;}

:focus::-webkit-input-placeholder {color:transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
.vertical_al{ 
	display: table-cell;
  vertical-align: middle;

  text-align:center;
}
.ts {
	opacity: 0.7;
	color: #FAFF02;
	text-shadow: 
  -0   -1px 6px #000000,
  0   -1px 6px #000000,
  -0    1px 6px #000000,
  0    1px 6px #000000,
  -1px -0   6px #000000,
  1px -0   6px #000000,
  -1px  0   6px #000000,
  1px  0   6px #000000,
  -1px -1px 6px #000000,
  1px -1px 6px #000000,
  -1px  1px 6px #000000,
  1px  1px 6px #000000,
  -1px -1px 6px #000000,
  1px -1px 6px #000000,
  -1px  1px 6px #000000,
  1px  1px 6px #000000;
}
@keyframes jumping{
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(0px, 2px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}

button>i{color: whitesmoke;}
.table>tbody>tr>td{vertical-align: middle;}
td.btn>i{color: rgba(100,200,150,.8);font-size: 3vmin;}
i<td.btn{width:2% !important;}
.col-xs-1{width:4%;}
input[type='date']:nth-of-type(odd){background:rgba(50,250,90,.3);border:none;}
input[type='date']:nth-of-type(even){background:rgba(10,80,150,.3);border:none;}
::-webkit-datetime-edit { padding: .1em;}
::-webkit-datetime-edit-fields-wrapper {  }
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { color: transparent;
  opacity: 1;
  background: url(https://png.icons8.com/dusk/540/chevron-down.png) no-repeat center;
  background-size: contain; }
  
  .glyphicon-list-alt{color: #eb4242}
  .glyphicon-ok{color: #22ff5c;}
  .glyphicon-font{color: #ffcc99;}
  .jump{
   animation: jumping 2s linear infinite;
   left:0; 
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   top:20px;
   right: 0;
   position: relative;

 }
 td{padding: 5px !important;}
 .space{
   height: 150px;
   bottom: 20px;
 }
 .jump label{clear: both;}
 #copyright {
  text-align: center; 
  color:#fff7b6;
  width: 100%;
}
@keyframes modal{
  0%{opacity: 0;}
  100%{opacity: 0.4;}
}
@keyframes modal-r{
  0%{opacity: 0.4;}
  100%{opacity: 0;}
}
@keyframes modal_t{
  0%{transform: scale(0.5);}
  100%{transform: scale(1);}
}
@keyframes modal_t-r{
  0%{transform: scale(1);}
  100%{transform: scale(0.5);opacity: 0;}
}
#box {

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
/* в нём находится полупрозрачный экран, на 20px меньше */

#box-inner {
  animation: modal 1s;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  background: gray;
  opacity: 0.4;
  filter: alpha(opacity=30);
}
/* форма находится не в экране, а рядом с ним, чтобы не быть полупрозрачной */

.modal-t button{
  width:80%;
  max-width: 150px;
  padding-top:10px;
  padding-bottom: 10px;  
  margin:auto}
  .modal-t {
    animation: modal_t 1s;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* центрирование */
    font-size: 3vmin;
    text-align: center;
    margin: auto;
    /* центрирование */
    min-width: 300px;
    width: 50%;
    border: 1px solid black;
    background: url(https://js.cx/clipart/key.png) 3px 5px white no-repeat;
  }


  input[type="checkbox"] {
    color: #99ffcc;
  }

  input[type="checkbox"]:checked  {
    border-color: blue;
    box-shadow: 0 0 5px #99ffcc;
  }
  tr{
    font-size: 3vmin;
  }
  .logout
  {
    position: absolute;
    right:10px;
    top:10px;
  }
  .table-hover:nth-of-type(odd){

    animation:odd .5s ease-out forwards;
  }
  .table-hover:nth-of-type(even){

    animation:even .5s ease-out forwards;
  }
  @keyframes even{
    0%{opacity:0;margin-left:5%;}
    100%{opacity:1;margin-left:0;}
  }
  @keyframes odd{
    0%{opacity:0;margin-left:-5%;}
    100%{opacity:1;margin-left:0;}
  }
  thead:hover th i{
    visibility:visible;
  }
  th form>.btn{width:100%;height: 100%;margin: 0;}
  form<th{padding: 0 !important;}
  .btn-link i{text-decoration: none !important;}
  th.btn-link i:hover{color: white;}
  th.btn-link i:active{text-shadow: 0 0 5px yellow;}
  td.btn-link i:hover{color: green;}
  td.btn-link i:active{text-shadow: 0 0 5px yellow;}
  .btn-link{text-decoration: none !important;}
  .input-group-btn>input{height:100% !important;}
  .status:checked+label:after{content:'done';color:green;font-family: 'Source Code Pro', monospace;cursor:pointer;text-align: center;width:100%;}
  .status:not(:checked)+label:after{content:'null';color:red;font-family: 'Source Code Pro', monospace;cursor:pointer;text-align: center;width:100%;}
  thead input[type='text']{outline-color: transparent;background-color: transparent !important;}
  th>input.hide{display:none !important;}
  th>input[type='text']{border:none;text-align:center;padding: 0;color:#d0fff7;}
  .pulse{
    animation: pulsation 1s alternate infinite;
  }
  @keyframes pulsation{

    0%{text-shadow:0 0 2px #cc99ff, 0 2px 10px #ffcc66; }
    100%{text-shadow:0 0 25px #ff9977, 0 -2px 20px #ffcc77; }
  }

  body.dragging, body.dragging * {
    cursor: move !important;
  }

  .dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
  }

  .sorted_table tr{
    position: relative;
    cursor: pointer;
    /** More li styles **/
  }
  .sorted_table tr:before {
    position: absolute;
    /** Define arrowhead **/
  }
  .ui-sortable-placeholder {
    border: 3px dashed #a5a;

    width: 344px;
    background: #ccc;
  }

  tfoot tr>th{background-image: linear-gradient(to top,rgba(195, 185, 5, 0.25) 45%,rgba(23, 148, 23, 0.6));padding:0 !important;margin:0;font-size: 2.4vmin;color:#3a7520;text-shadow: 0 0 2px yellowgreen;}
  tfoot tr{padding: 0 !important;}
  tfoot:before {
    line-height:1.5em;
    content:" ";
    color:white;
    background-color: transparent;
    display:block;}
    .up_task{

      border: none !important;
      width:100%;
      background-color: transparent;
      box-shadow: none !important;
    }
    .hided{display: none !important;}
    .up_task:focus{box-shadow: none !important;border: none !important;outline-color: transparent;}
    tfoot tr>th>i{color: transparent;text-shadow: 0 0 2px rgba(50,150,70,.7);}
    .sel_row{background-color: rgba(100,200,150,.3);}
    .sel_row:hover{background-color: rgba(100,250,150,.5) !important;}
    td.btn{border-radius: 0 !important;}